


/* 
.sidenav {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    width: 200px;

    top: 50px;
    position: relative;
}


#CountDown {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

main {
    display: grid;
    row-gap: 30px;
    position: relative;
    left: 200px;
    max-width: 820px;
    top: -145px;
} 
*/



/* Navigation flex-box */


#CountDown {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.sidenav {
    width: 19%;
    clear: left;
    float: left;
}


/* Grid Styles */
main {
    width: 80%;
    float: right;
    clear: none;
    display: -webkit-flex;
    display: flex;
    row-gap: 3em;
    flex-direction: column;
}

footer {
    width: 100%;
    clear: right;
}