



/* Font Styles */
body p.paragraph {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}



/* Header Styles */
header {
    background-image: url("../images/christmas_background.jpg");
    height: auto;
}

h1 {
    color: #F2F2F2;
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xxx-large;
    text-shadow: #262526;
    text-align: center;
}



/* CountDown Timer */
div#CountDown {
    color: #F2F2F2;
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xxx-large;
    text-shadow: #262526;
    text-align: center;
    
    background-color: green;
}



/* Navigation List Styles */
ul {
    list-style-type: none;
}

li a {
    background-color: #F2F2F2;
    text-align: center;
    border: 1px solid #262526;
    color: #599474;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color: #d1d1d1;
    color: #404040;
}




/* Image Styles */
img#firstpic {
    float: right;
    margin-left: auto;
    width: 18em;
    margin-top: 30px;
    margin-left: 10px;
}

img#secondpic {
    float: left;
    margin-left: auto;
    width: 18em;
    margin-top: 30px;
    margin-right: 10px;
}

img#thirdpic {
    float: right;
    margin-left: auto;
    width: 18em;
    margin-top: 30px;
    margin-left: 10px;
}



/* Grid Styles */
main {
    display: grid;
    row-gap: 30px
}
